
@import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './scss/styles';
$grid-breakpoints: (
  xs: 0px,
  sm: 567px,
  md: 991px,
  lg: 1280px,
  xl: 1350px,
  xxl: 1539px
);
@import 'bootstrap/scss/bootstrap';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

