.activepaircard {
  border: 1px solid rgba(var(--secondary-border), 0.2);
  border-radius: 8px;
  &__overlaytrigger {
    img {
      width: 15px;
      margin-top: -8px;
      margin-left: 6px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__overlaytooltip {
    p {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      padding-bottom: 5px;
      strong {
        font-family: 'Poppins-SemiBold';
      }
    }
    & > div {
      font-family: 'Poppins-Regular';
      font-size: 12px;
    }
    img {
      width: 1.1rem;
      margin-right: 5px;
      margin-top: -2px;
    }
  }
  .lp-button {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    padding: 0.8rem 0rem;
    width: 100%;
  }
  &__generate {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    padding: 0.7rem 1.5rem;
    width: 100%;
    white-space: nowrap;
  }
  // height: calc(100% - 26px);
  &--warning {
    box-shadow: 0px 2px 8px #f48c5780;
    border: 2px solid #f48c57;
  }
  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    &-icon0 {
      width: 40px;
      border: 1px solid rgba(#4c646f, 0.4);
      border-radius: 100%; 
      padding: 2px;
      background-color: white;
    }
    &-icon1 {
      width: 40px;
      border: 1px solid rgba(#4c646f, 0.4);
      border-radius: 100%; 
      padding: 2px;
      background-color: white;
      margin-left: -10px;
    }
  }
  &__titleBox {
    margin-left: 1rem;
    h6 {
      font-family: 'Poppins-SemiBold';
      font-size: 1rem;
      color: var(--unnamed-color-002332);
    }
    p {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      color: var(--unnamed-color-3c4760);
    }
    img {
      width: 18px;
    }
    &--linkIcon {
      width: 5px !important;
      position: absolute;
      top: 6px;
      right: -10px;
    }
  }
  &__riskBox {
    p {
      font-family: 'Poppins-Medium';
      font-size: 12px;
      color: var(--unnamed-color-3c4760);
    }
    h6 {
      font-family: 'Poppins-SemiBold';
      font-size: 14px;
      margin-bottom: 0px;
      text-transform: uppercase;
    }
    .high {
      color: #ff3131;
    }
    .medium {
      color: #f48c57;
    }
    .low {
      color: #07b127;
    }
  }
  &__aprBox {
    padding: 20px;
    background: var(--unnamed-color-171A23);
    border-top: 1px solid rgba(var(--secondary-border), 0.2);
    border-bottom: 1px solid rgba(var(--secondary-border), 0.2);
    h6 {
      font-size: 16px;
      color: var(--unnamed-color-3c4760);
      margin-bottom: 0px;
      font-family: 'Poppins-Medium';
      a {
        color: var(--unnamed-color-3c4760);
      }
    }
    .semiBold {
      font-family: 'Poppins-SemiBold';
    }
  }
  &__btnBox {
    margin: 0px;
    padding: 1.25rem 0.625rem;
    padding-top: 0.9rem;
  }
  &__warningBox {
    min-height: 70px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    padding-top: 0px;
    color: #f48c57;
    p {
      margin-bottom: 0px;
      margin-left: 0.5rem;
    }
  }
  &__detailBox {
    background: var(--unnamed-color-171A23);
    padding: 20px;
    color: var(--unnamed-color-4c646f);
    border-bottom: 1px solid rgba(var(--secondary-border), 0.2);
    h6 {
      font-size: 16px;
      color: var(--unnamed-color-3c4760);
      margin-bottom: 0px;
      font-family: 'Poppins-Medium';
    }
    .semiBold {
      font-family: 'Poppins-SemiBold';
    }
    p {
      font-family: 'Poppins-SemiBold';
      color: var(--unnamed-color-002332);
    }
    &--tokens {
      margin-top: 10px;
      img {
        width: 20px;
        margin-right: 5px;
      }
      font-size: 12px;
      font-family: 'Poppins-Regular';
    }
  }
  
}
