.adminpanel {
    h2 {
        margin-bottom: 0px;
        font-family: 'Poppins-Medium' !important;
        color: var(--unnamed-color-002332);
    }
    .button {
        font-family: 'Poppins-Medium';
        font-size: 14px;
        padding: 0.8rem 2rem;
    }

    label {
        font-family: 'Poppins-Medium';
        font-size: 14px;
        color: var(--unnamed-color-3c4760);
    }
    .form-bg {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border: 1px solid #dee2e6;
    }
}