.archivedVaults {
  padding-left: 5rem;
  padding-right: 5rem;
  min-height: calc(100vh - 350px);
  @include respond-to(sm) {
    padding-top: 2rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row {
    overflow: hidden;
  }

  [class*='col-'] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
  .table td,
  .table th {
    border-top: 0px;
  }

  &__list {
    .danger {
      color: #ff3131;
    }
    h6 {
      font-size: 16px;
      color: #3c4760;
      margin-bottom: 0px;
      font-family: 'Poppins-Medium';
    }
    .semiBold {
      font-family: 'Poppins-SemiBold';
    }
    .archivedpaircard__btnBox {
      padding: 10px;
      &--warning {
        padding-bottom: 40px;
      }
    }
    .archivedpaircard__warningBox {
      position: absolute;
      top: 85px;
      left: 0px;
      padding-left: 0px;
    }
    .warning_position {
      position: relative;
    }
  }
}
