.archivedpaircard {
  box-shadow: 0px 2px 8px #ff3131;
  border: 2px solid #ff3131;
  border-radius: 8px;
  height: calc(100% - 26px);

  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    img {
      border: 1px solid #ff3131;
      border-radius: 100%;
    }
    &-icon {
      margin-left: -10px;
    }
  }
  &__titleBox {
    margin-left: 1rem;
    h6 {
      font-family: 'Poppins-SemiBold';
      font-size: 1rem;
      color: #ff3131;
    }
    p {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      color: #ff3131;
    }
  }
  &__riskBox {
    h6 {
      font-family: 'Poppins-SemiBold';
      font-size: 14px;
      margin-bottom: 0px;
      text-transform: uppercase;
      color: #ff3131;
    }
  }
  &__aprBox {
    padding: 20px;
    background-color: rgba(#dbe0e2, 0.2);
    border-top: 1px solid rgba(#4c646f, 0.2);
    border-bottom: 1px solid rgba(#4c646f, 0.2);
    h6 {
      font-size: 16px;
      color: #3c4760;
      margin-bottom: 0px;
      font-family: 'Poppins-Medium';
    }
    .semiBold {
      font-family: 'Poppins-SemiBold';
    }
    .danger {
      color: #ff3131;
    }
  }
  &__btnBox {
    margin: 0px;
    padding: 20px 10px;

    .lp-button {
      font-family: 'Poppins-Medium';
      font-size: 15px;
      padding: 0.8rem 0rem;
      width: 100%;
    }
    .generate {
      font-family: 'Poppins-Medium';
      font-size: 15px;
      padding: 0.9rem 0rem;
      width: 100%;
    }
  }
  &__warningBox {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    padding-top: 0px;
    color: #ff3131;
    p {
      margin-bottom: 0px;
      margin-left: 0.5rem;
    }
  }
}
