.availablevaults {
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--background);
  @include respond-to(sm) {
    padding-top: 2rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  &__loading {
    min-height: 50vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lp-button {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    padding: 0.6rem 0.8rem;
    width: 100%;
  }
  .generate {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    padding: 0.9rem 0rem;
    width: 100%;
  }
}
