.button {
  border-radius: 8px;
  opacity: 1;
  border: none;
  color: white;
  &:disabled {
    cursor: default;
    opacity: 0.8;
  }
  &:focus {
    background-color: transparent;
  }
  &--blue {
    background-image: url('../assets/images/btn-bg.svg');
    // background: transparent linear-gradient(90deg, #ff69ce 0%, #bc5cf7 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      background-image: url('../assets/images/btn-bg.svg');
      // background: transparent linear-gradient(90deg, #ff69ce 0%, #bc5cf7 100%) 0% 0% no-repeat padding-box;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &--fill {
    // background-image: url('../assets/images/btn-bg.svg');
    background: transparent linear-gradient(90deg, #ff69ce 0%, #bc5cf7 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      background: transparent linear-gradient(90deg, #ff69ce 0%, #bc5cf7 100%) 0% 0% no-repeat padding-box;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &--gradientBorder {
   background-color: transparent;
   color: var(--unnamed-color-5fb5ff);
   border: 2px solid var(--unnamed-color-5fb5ff);
  }
  &--danger {
    border: 2px solid var(--unnamed-color-ff3131);
    color: var(--unnamed-color-ff3131);
    background-color: white;
  }

  &--disabled {
    background: rgba(#4c646f, 0.5);
    color: #4c646f !important;
    border: none !important;
    &:focus {
      background: rgba(#4c646f, 0.5);
      color: #4c646f !important;
    }
  }

  &:disabled {
    background: rgba(#4c646f, 0.5);
    color: #4c646f !important;
    border: none !important;
    &:focus {
      background: rgba(#4c646f, 0.5);
      color: #4c646f !important;
    }
  }
}
