.compareVaults {
    padding-left: 5rem;
    padding-right: 5rem;
    h2 {
        margin-left: 10px;
        font-family: 'Poppins-Medium';
        font-size: 24px;
        color: var(--unnamed-color-3c4760);
    }
}