.customInput {
  .form-control {
    padding: 13px 16px;
    border: 1px solid var(--unnamed-color-f9fbfe);
    border-radius: 4px;
    border-right: 0px;
    color: var(--unnamed-color-3c4760);
    background-color: var(--unnamed-color-17161f);
    &:focus {
      border: 1px solid var(--unnamed-color-f9fbfe);
      border-right: 0px !important;
      box-shadow: none !important;
      background-color: var(--unnamed-color-17161f);
      color: var(--unnamed-color-3c4760);
    }
    &::placeholder {
      opacity: 0.8;
    }
  }
  .onlytext {
    border-right: 1px solid rgba(#4c646f, 0.2);
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    // font-weight: bold;
  }
  .withMax {
    font-style: italic;
    color: gray;
  }
  .tokenName {
    position: relative;
    right: 0px;
    padding-right: 10px;
    padding-top: 12px;
    color: var(--unnamed-color-3c4760);
    font-size: 16px;
    border-top: 1px solid var(--unnamed-color-f9fbfe);
    border-bottom: 1px solid var(--unnamed-color-f9fbfe);
    background-color: var(--unnamed-color-17161f);
    opacity: 0.7;
    &--onlytext {
      right: 15px;
    }
  }
  .input-group-append {
    min-width: 110px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .input-group-text {
      width: 100%;
      justify-content: center;
      font-family: 'Poppins-Medium';
      font-size: 15px;
      color: white;
      // background-image: url('../assets/images/btn-bg.svg');
      background: linear-gradient(150deg, #5FB5FF 0%, #075FE5 100%) 0% 0% no-repeat padding-box;
      border: 0px;
    }
  }
  &--valid {
    font-family: 'Poppins-Regular';
    color: #ff3131;
    font-size: 14px;
  }
}
