.customSelect {
  .react-select {
    &__control {
      padding: 5px 16px;
      padding-right: 2px;
      min-width: 100px;
      border: 1px solid rgba(#4c646f, 0.4);
      font-weight: 600;
      letter-spacing: -0.32px;
      &:hover {
        border: 1px solid rgba(#4c646f, 0.4);
      }
      &--is-focused {
        border: 1px solid rgba(#4c646f, 0.4);
        box-shadow: none;
      }
    }
    &__single-value {
      color: #3c4760;
    }
    &__indicator-separator {
      display: none;
    }
    &__indicator {
      svg {
        width: 25px;
        height: 30px;
        color: #0f6eff;
      }
    }
    &__option {
      color: #3c4760;
    }
  }
  &__option {
    &:hover {
      background-color: #a0d4ff;
    }
  }
  .secondIcon {
    margin-left: -8px;
  }
}
