.filterpanel {
  margin-left: 1rem;
  margin-right: 1rem;
  &__gap {
    gap: 0.75rem;
  }
  .less-right-margin {
    margin-right: 32px;
  }
  h2 {
    font-family: 'Poppins-Medium';
    letter-spacing: -0.72px;
    color: var(--unnamed-color-002332);
    font-size: 24px;
  }
  .form-group {
    margin-bottom: 0px;
  }
  .has-search {
    position: relative;
    .form-control {
      margin-bottom: 0px;
      padding-left: 2.5rem;
      border: 1px solid rgba(#4c646f, 0.2);
      border-radius: 4px;
      color: var(--unnamed-color-3c4760);
      font-family: 'Poppins-Regular';
      height: 3rem !important;
      @include respond-to(sm) {
        width: 80%;
      }
      &:focus {
        border-bottom: 1px solid rgba(#4c646f, 0.2) !important;
        -webkit-box-shadow: 0px !important;
        box-shadow: none !important;
      }
    }

    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: var(--unnamed-color-3c4760);
      top: 10px;
      left: 8px;
    }
  }
  &__sortby , &__viewby {
    font-family: 'Poppins-Regular';
    color: var(--unnamed-color-3c4760);
    font-size: 0.75rem;
   }
  &__viewtype {
    opacity: 0.4;
    cursor: pointer;
    margin: 6px;
    &:hover {
      opacity: 1;
    }
    &-active {
      opacity: 1;
    }
  }
  .more-width {
    .react-select {
      &__control {
        width: 130px;
      }
    }
  }
  .react-select {
    &__indicator-separator {
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: rgba(var(--secondary-border), 0.2);
    }
    &__clear-indicator {
      display: none;
    }
    &__control {
      width: 100px;
      position: relative;
      background-color: var(--unnamed-color-1B1E29);
      border: 1px solid rgba(var(--secondary-border), 0.2);
      &:hover {
        border: 1px solid rgba(var(--secondary-border), 0.2);
      }
    }
    &__menu {
      min-width: 100px;
      background-color: var(--unnamed-color-1B1E29);
    }
    &__input {
      font-family: 'Poppins-Regular';
      font-size: 16px;
      margin-top: 2px;
      color: var(--unnamed-color-4c646f);
    }
    &__single-value {
      color: var(--unnamed-color-3c4760);
    }
    &__indicator-separator {
      display: none;
    }
    &__option {
      color: var(--unnamed-color-3c4760);
      &:hover {
        background-color: var(--unnamed-color-5fb5ff);
      }
    }
  }
  .platform-select {
    &__indicator-separator {
      margin-top: 0px;
      margin-bottom: 0px;

      background-color: rgba(var(--secondary-border), 0.2);
    }
    &__clear-indicator {
      display: none;
    }
    &__control {
      width: 150px;
      margin-left: 1rem;
      position: relative;
      background-color: var(--unnamed-color-1B1E29);
      border: 1px solid rgba(var(--secondary-border), 0.2);
      &:hover {
        border: 1px solid rgba(var(--secondary-border), 0.2);
      }
      @include respond-to(sm) {
        margin-left: 0rem;
      }
    }
    &__menu {
      // width: 150px;
      background-color: var(--unnamed-color-1B1E29);
    }
    &__input {
      font-family: 'Poppins-Regular';
      font-size: 16px;
      margin-top: 2px;
      color: var(--unnamed-color-4c646f);
    }
    &__single-value {
      color: var(--unnamed-color-3c4760);
    }
    &__indicator-separator {
      display: none;
    }
    &__option {
      cursor: pointer;
      color: var(--unnamed-color-3c4760);
      &:hover {
        background-color: var(--unnamed-color-5fb5ff);
      }
      &--active {
        background-color: var(--unnamed-color-f48c57);
      }
    }
  }
}
