.footer {
  position: fixed;
  right: 0px;
  left: 300px;
  bottom: 0px;
  height: 186px;
  background: #dbe0e234 0% 0% no-repeat padding-box;
  opacity: 1;
  border-top: 1px solid #dbe0e2;
  padding: 2.5rem 3rem;
  a {
    img {
      border: 1px solid rgba(#4c646f, 0.3);
      border-radius: 8px;
      margin: 0px 3px;
    }
  }
  h6 {
    font-family: 'Poppins-Light';
    color: #4c646f;
    font-size: 12px;
  }

  .list-group-item {
    border: 0px;
    background: transparent;
    a {
      color: #4c646f;
      font-size: 14px;
      font-family: 'Poppins-Light';
    }
  }
}
