.header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--background);
  @include respond-to(lg) {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;
    // border-bottom: 1px solid var(--unnamed-color-f9fbfe);
    img {
      width: 150px;
    }
  }

  &__progressbar {
    width: 100%;
    @include respond-to(lg) {
      width: 100%;
    }
    .navbarprogressbar__header {
      justify-content: flex-end;
    }
  }
  // min-height: 85px;

  &__gap {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    background-color: var(--unnamed-color-f9fbfe);
    width: 2px;
    height: 1.5rem;

  }

  &__tvl {
    cursor: default !important;
    color: #07B127;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    text-align: center;
    font-family: 'Poppins-Medium';
    &::before {
      content: 'Total TVL' !important;
    }
  }

  &__debt {
    // margin-right: 1rem;
    cursor: default !important;
    &::before {
      content: 'Total USDr Debt' !important;
    }
  }

  &__connected {
    cursor: pointer;
    display: flex;
    // min-width: 180px;
    align-items: center;
    padding: 12px 22px;
    border: 1px solid var(--unnamed-color-f9fbfe);
    border-radius: 8px;
    position: relative;
    &::before {
      content: 'Connected Wallet';
      position: absolute;
      top: -10px;
      left: -3px;
      font-family: 'Poppins-Medium';
      font-size: 12px;
      background-color: var(--unnamed-color-17161f);
      padding-right: 6px;
      color: var(--unnamed-color-bg);
    }
    h6 {
      margin-bottom: 0px;
      font-family: 'Poppins-Medium';
      font-size: 16px;
      margin-left: 8px;
      color: var(--unnamed-color-3c4760);
    }
  }

  &__checked {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #07b127;
    width: 27px;
    height: 27px;
    background-color: rgba(#07b127, 0.2);
    border-radius: 100%;
  }

  &__closed {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 27px;
    height: 27px;
    background-color: rgba(red, 0.2);
    border-radius: 100%;
  }


  .walletBtn {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    padding: 0.8rem 2rem;
  }
  .switchBtn {
    margin-right: 1rem;
    margin-top: 12px;
    cursor: pointer;
    &__icon {
      width: 35px;
    }
    // @include respond-to(sm) {
    //   margin-right: 0.3rem;
    //   img {
    //     width: auto;
    //   }
    // }
    &:hover {
      opacity: 0.8;
    }
  }
  &__faucet {
    margin-top: 5px;
    border: none;
    background-color: #0f6eff;
    color: white;
    font-family: 'Poppins-Regular';
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    margin-right: 15px;
    font-size: 14px;
    height: 40px;
  }
}
