.instabuylp {
  padding-top: 30px;
  min-height: 50vh;
  background-color: var(--background);
  h3 {
    font-family: 'Poppins-Medium';
    font-size: 24px;
    color: var(--unnamed-color-3c4760);
  }
}
