.layer {
  overflow-y: hidden;

  &::before {
    @include respond-to(sm) {
      display: none;
    }
    content: '';
    position: absolute;
    top: -169.42041015625px;
    left: -238.78857421875px;
    width: 705px;
    height: 730px;
    z-index: -1;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    background: transparent
      linear-gradient(
        180deg,
        #a0d4ff 0%,
        #d48ec5 33%,
        #ffc2ac 58%,
        #ffe9b1 86%,
        #fff5c7 100%
      )
      0% 0% no-repeat padding-box;
    opacity: 0.4;
    filter: blur(50px);
  }
  &::after {
    @include respond-to(sm) {
      display: none;
    }
    content: '';
    position: fixed;
    left: 100px;
    bottom: 0px;
    z-index: -1;
    right: 0px;
    height: 400px;
    transform: rotate(0deg);
    background-image: url('../assets/images/Footer.png');
    background-repeat: no-repeat;
    filter: blur(50px);
  }
  &_container {
    @include respond-to(sm) {
      margin-left: 0px;
    }
    margin-left: 300px;
    min-height: 100vh;
  }
}
