.navbarItem {
  font-size: 1.1rem;
  border-top: 1px solid rgba(#394760, 0.1);
  color: var(--unnamed-color-002332);
  font-family: 'Poppins-Medium';
  position: relative;
  cursor: pointer;
  &:last-child {
    border-bottom: 1px solid rgba(#394760, 0.1);
  }
  &--active {
    font-family: 'Poppins-SemiBold';
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0px;
      width: 6px;
      height: 100%;
      background: transparent linear-gradient(180deg, #ff69ce 0%, #bc5cf7 100%) 0% 0% no-repeat padding-box;
      opacity: 1;
    }
  }
  &__expand {
    padding-bottom: 0.5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 3rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border-left: 2px solid var(--unnamed-color-bg);
    &-name {
      font-family: 'Poppins-SemiBold';
      font-size: 0.75rem;
      color: var(--unnamed-color-3C4760);
    }
    &-positionvalue {
      font-family: 'Poppins-Bold';
      font-size: 0.75rem;
      color: var(--unnamed-color-f48c57);
      padding: 2px 8px;
      background-color: rgba( #f48c57, 0.3 );
      border-radius: 2rem;
      margin-right: 0.5rem;
    }
    &-rewardsearned {
      font-family: 'Poppins-Bold';
      font-size: 0.75rem;
      color: var(--unnamed-color-5fb5ff);
      padding: 2px 8px;
      background-color: rgba( #5fb5ff, 0.3 );
      border-radius: 2rem;
    }
  }
}

.navbarItem__expand > .col-md-3 {
  padding-right: 0;
  padding-left: 0;
}
.navbarItem__expand > .col-md-6 {
  padding-left: 0;
}

.navbar-active-vaults {
  padding-left: 50px !important;
}