.pricecard {
  border: 1px solid var(--unnamed-color-f9fbfe);
  border-radius: 16px;
  @include respond-to(sm) {
    margin-top: 15px;
  }
  &__header {
    padding: 1.5rem;
  }

  &__title {
    display: flex;
    p {
      font-family: 'Poppins-Medium';
      font-size: 18;
      color: var(--unnamed-color-3c4760);
      margin-right: 0.5rem;
    }
  }
  &__value {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    h3 {
      font-family: 'Poppins-SemiBold';
      font-size: 22px;
      color: #0f6eff;
      margin-right: 0.5rem;
      margin-bottom: 0px;
    }
    p {
      font-family: 'Poppins-Regular';
      font-size: 14px;
      color: var(--unnamed-color-4c646f);
    }
  }
  &__body {
    padding: 1.5rem;
    background-color: var(--unnamed-color-f8f9f9);
    border-top: 1px solid rgba(#4c646f, 0.2);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    label {
      font-size: 14px;
      color: var(--unnamed-color-4c646f);
    }
    p {
      font-family: 'Poppins-SemiBold';
      font-size: 16px;
      color: var(--unnamed-color-4c646f);
    }
  }
}
