.roundbox {
    margin-top: 2.5rem;
    &__top {
        border: 1px solid var(--primary-border);
        background-color: var(--unnamed-color-f8f9f9);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 1.5rem;
        h5 {
            color: var(--unnamed-color-3c4760);
            font-size: 1rem;
        }
        &--danger {
            border-color: var(--unnamed-color-ff3131);
        }
    }
    &__bottom {
        padding: 1.18rem 1.5rem;
        border: 1px solid var(--primary-border);
        border-top: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        h6 {
            margin:0px;
            font-size: 0.875rem;
            font-family: 'Poppins-Light';
            img {
                margin-top: -3px;
                margin-right: 0.3rem;
            }
        }
        h5 {
            font-size: 1rem;
            font-family: 'Poppins-Semibold';
            margin:0px;
        }
    }
    &__countdown {
        .danger {
            color: red !important;
        }
        h5 {
            font-family: 'Poppins-Regular';
            font-size: 0.813rem;
        }
        h3 {
            font-family: 'Poppins-Medium';
            font-size: 1.75rem;
            margin-bottom: 0px;
            text-align: center;
        }
        h4 {
            padding-left: 0.6rem;
            padding-right: 0.6rem;
        }
        h6 {
            font-size: 0.68rem;
            font-family: 'Poppins-Light';
            margin-top: 0px;
            text-align: center;
        }
    }
}