@import './screensize';
@import './layer';
@import './navbar';
@import './navbarItem';
@import './font-face';
@import './button';
@import './footer';
@import './header';
@import './filterpanel';
@import './availablevaults';
@import './tokenpaircard';
@import './instabuylp';
@import './instabuylpcard';
@import './customInput';
@import './customSelect';
@import './lockvaultmodal';
@import './vaultdashboard';
@import './risklevel';
@import './speedometer';
@import './vaultdebt';
@import './pricecard';
@import './modalCard';
@import './dashboardModal';
@import './vaulthistorytable';
@import './amountPanel';
@import './activeVaults';
@import './activePairCard';
@import './archivedVaults';
@import './archivedPairCard';
@import './disclaimerModal';
@import './_mobileMenuTrigger';
@import './walletProviderModal';
@import './customDropdownInput';
@import './faucet';
@import './filterSelect';
@import './comparingFooter';

@include font-face('Poppins-SemiBold', '../assets/fonts/Poppins-SemiBold');
@include font-face('Poppins-Light', '../assets/fonts/Poppins-Light');
@include font-face('Poppins-Medium', '../assets/fonts/Poppins-Medium');
@include font-face('Poppins-Regular', '../assets/fonts/Poppins-Regular');

:root {
  /* Colors: */
  --unnamed-color-2e5fe2: #2e5fe2;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-002332: #002332;
  --unnamed-color-4c646f: #4c646f;
  --unnamed-color-f48c57: #f48c57;
  --unnamed-color-ff69ce: #ff69ce;
  --unnamed-color-bc5cf7: #bc5cf7;
  --unnamed-color-0f6eff: #0f6eff;
  --unnamed-color-5fb5ff: #5fb5ff;
  --unnamed-color-ff3131: #ff3131;
  --unnamed-color-07b127: #07b127;
  --unnamed-color-3c4760: #3c4760;
  --unnamed-color-727c81: #727c81;
  --unnamed-color-1B1E29: #1b1e29;
  --unnamed-color-171A23: #171a23;
  --unnamed-color-f8f9f9: #f8f9f9;
}
[data-theme='dark'] {
  --background: #17161f;
  --nav-boxshadow: none;
  --primary-border: #1b1d26;
  --secondary-border: 255, 255, 255;
  --unnamed-color-2e5fe2: #2e5fe2;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-002332: #ffffff;
  --unnamed-color-4c646f: #ffffff;
  --unnamed-color-f48c57: #f48c57;
  --unnamed-color-ff69ce: #ff69ce;
  --unnamed-color-bc5cf7: #bc5cf7;
  --unnamed-color-0f6eff: #ffffff;
  --unnamed-color-5fb5ff: #5fb5ff;
  --unnamed-color-ff3131: #ff3131;
  --unnamed-color-07b127: #07b127;
  --unnamed-color-3c4760: #ffffff;
  --unnamed-color-727c81: #ffffff;
  --unnamed-color-1B1E29: #1b1e29;
  --unnamed-color-171A23: #171a23;
  --unnamed-color-f9fbfe: #2a3340;
  --unnamed-color-f8f9f9: #1b1e29;
  --unnamed-color-17161f: #17161f;
  --unnamed-color-bg: #ffffff;
}

[data-theme='light'] {
  --background: transparent;
  --nav-boxshadow: 10px 0px 40px #00000034;
  --primary-border: #dbe0e2;
  --secondary-border: 76, 100, 111;
  --unnamed-color-727c81: #727c81;
  --unnamed-color-3c4760: #3c4760;
  --unnamed-color-2e5fe2: #2e5fe2;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-002332: #002332;
  --unnamed-color-4c646f: #4c646f;
  --unnamed-color-f48c57: #f48c57;
  --unnamed-color-ff69ce: #ff69ce;
  --unnamed-color-bc5cf7: #bc5cf7;
  --unnamed-color-0f6eff: #0f6eff;
  --unnamed-color-5fb5ff: #5fb5ff;
  --unnamed-color-ff3131: #ff3131;
  --unnamed-color-07b127: #07b127;
  --unnamed-color-1B1E29: #ffffff;
  --unnamed-color-f9fbfe: #4e667133;
  --unnamed-color-f8f9f9: #f8f9f9;
  --unnamed-color-171A23: rgba(255, 224, 226, 0.33);
  --unnamed-color-bg: rgb(0, 35, 50, 0.4);
  --unnamed-color-17161f: #ffffff;
}

// --unnamed-color-002332: #002332;
// --unnamed-color-4c646f: #4c646f;
// --unnamed-color-f48c57: #f48c57;
// --unnamed-color-ff69ce: #ff69ce;
// --unnamed-color-bc5cf7: #bc5cf7;
// --unnamed-color-0f6eff: #0f6eff;
// --unnamed-color-5fb5ff: #5fb5ff;
// --unnamed-color-ff3131: #ff3131;
// --unnamed-color-07b127: #07b127;

// .light {
//   --background: #f1faee;
//   --background-alt: #a8dadc;
//   --foreground: #1d3557;
//   --accent: #0e8185;
// }
// .dark {
//   --background: #1d3557;
//   --background-alt: #457b9d;
//   --foreground: #f1faee;
//   --accent: #84a59d;
// }

p {
  margin-bottom: 0px !important;
}

input {
  height: auto !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.tooltip-inner {
  max-width: 250px !important;
  padding: 16px !important;
  // font-family: 'Poppins-Regular' !important;
  font-size: 12px !important;
  text-align: left !important;
  border-radius: 8px !important;
}

.modal {
  background-color: transparent;
  box-shadow: none;
  max-height: 100%;
}

.modal .modal-content {
  padding: 0px;
  border-radius: 16px;
}

.modal .modal-footer {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modal-lg,
.modal-xl {
  max-width: 480px !important;
}
.EXTREME {
  color: #ff3131 !important;
}
.HIGH {
  color: #ff3131 !important;
}
.MEDIUM {
  color: #f48c57 !important;
}
.LOW {
  color: #07b127 !important;
}
