.tokensearned {
    
    &__name {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        padding-bottom: 0px;
    }


    &__icon {
        height: 40px;
        display: block;
    }

}