.tokenpaircard {
  border: 1px solid rgba(var(--secondary-border), 0.2);
  border-radius: 8px;
  [type='checkbox'].filled-in:not(:checked) + span:not(.lever):after {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(#4c646f, 0.2);
  }
  [type='checkbox'].filled-in:checked + span:not(.lever):after {
    width: 30px;
    height: 30px;
    background-color: #e5f7e9;
    border: 2px solid rgba(#4c646f, 0.2);
  }
  [type='checkbox'].filled-in:checked + span:not(.lever):before {
    left: 2px;
    width: 12px;
    height: 21px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #07b127;
    border-bottom: 3px solid #07b127;
  }
  [type='checkbox'] + span:not(.lever) {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    padding-top: 3px;
    color: #3c4760;
    padding-left: 40px;
  }

  &--warning {
    box-shadow: 0px 2px 8px #f48c5780;
    border: 2px solid #FF3131;
  }

  &__warningBox {
    min-height: 70px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    padding-top: 0px;
    color: #FF3131;
    p {
      margin-bottom: 0px;
      margin-left: 0.5rem;
    }
  }

  &__table__warningBox {
    //min-height: 70px;
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    color: #FF3131;
    p {
      margin-bottom: 0px;
      margin-left: 0.5rem;
    }
  }
  
  .generate {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    padding: 0.8rem 0rem;
    width: 100%;
  }
  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    &-icon {
      height: 40px;
      background-color: white;
     
    }
    .highRisk {
      width: 25px;
      border: none;
      border-radius: 0%;
    }
  }
  &__titleBox {
    margin-left: 1rem;
    h6 {
      font-family: 'Poppins-SemiBold';
      font-size: 1rem;
      color: var(--unnamed-color-002332);
    }
    p {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      color: var(--unnamed-color-3c4760);
    }
  }
  &__riskBox {
    p {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      color: var(--unnamed-color-3c4760);
    }
    h6 {
      font-family: 'Poppins-SemiBold';
      font-size: 14px;
      margin-bottom: 0px;
      text-transform: uppercase;
      margin-top: 3px;
    }
    .highrisk {
      width: 20px;
      border-radius: 0px;
    }
    img {
      width: 15px;
      height: auto;
      border: none;
    }
    .DDD {
      color: #ff3131;
    }
    .DD {
      color: #ff3131;
    }
    .AA {
      color: #f48c57;
    }
    .AAA {
      color: #07b127;
    }
  }
  &__aprBox {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-border);
    border-top: 1px solid rgba(#4c646f, 0.2);
    border-bottom: 1px solid rgba(#4c646f, 0.2);
    position: relative;

    h6 {
      font-size: 1rem;
      color: var(--unnamed-color-3c4760);
      margin-bottom: 0px;
      font-family: 'Poppins-Medium';
      
    }
    &--platformName {
      text-decoration: underline;
      &:hover {
        opacity: 0.8;
      }
    }
    h5 {
      font-size: 0.8rem;
      color: var(--unnamed-color-3c4760);
      margin-bottom: 0px;
      font-family: 'Poppins-Regular';
    }
    .semiBold {
      font-family: 'Poppins-SemiBold';
    }
    img {
      width: 22px;
      border: none;
    }
    &--linkIcon {
      width: 5px !important;
      position: absolute;
      top: 6px;
      right: -10px;
    }
  }
  &__btnBox {
    margin: 0px;
    padding: 20px 10px;
    &--checked {
      background-color: rgba(#e5f7e9, 0.5);
    }
  }
  &__detailBox {
    &__content {
      padding: 20px;
      padding-top: 0px;
      color: var(--unnamed-color-4c646f);
      p {
        font-family: 'Poppins-SemiBold';
        color: var(--unnamed-color-002332);
      }
      &--tokens {
        margin-top: 10px;
        img {
          width: 20px;
          margin-right: 5px;
        }
        font-size: 12px;
        font-family: 'Poppins-Regular';
      }
    }
    &__toggle {
      cursor: pointer;
      text-align: center;
      padding-top: 16px;
      padding-bottom: 16px;
      color: var(--unnamed-color-4c646f);
      border-top: 1px solid rgba(var(--secondary-border), 0.2);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__table__td {
    position: relative;
    display: inline-block;
    h6 {
      font-size: 1rem;
      color: var(--unnamed-color-3c4760);
      margin-bottom: 0px;
      font-family: 'Poppins-Medium';
      
    }
    &--platformName {
      text-decoration: underline;
      &:hover {
        opacity: 0.8;
      }
    }
    h5 {
      font-size: 12px;
      color: var(--unnamed-color-3c4760);
      margin-bottom: 0px;
      font-family: 'Poppins-Regular';
    }
    .semiBold {
      font-family: 'Poppins-SemiBold';
    }
    img {
      width: 22px;
      border: none;
    }
   
    &--linkIcon {
      width: 5px !important;
      position: absolute;
      top: 6px;
      right: -10px;
    }
  }

}

