.vaultdashboard {
  margin-top: 1rem;
  &__header {
    // display: flex;
    @include respond-to(sm) {
      display: block;
    }
    &_titleBox {
      border-top: 1px solid var(--unnamed-color-f9fbfe);
      border-bottom: 1px solid var(--unnamed-color-f9fbfe);
      padding: 1rem 4rem !important;
      // padding-top: 1rem !important;
      // width: 80%;
      @include respond-to(lg) {
        padding: 2rem 2rem !important;
        width: 100%;
        .row [class*='col']{
          padding-left: 0;
          padding-right: 0;
        }
      }
      @include respond-to(sm) {
        padding-top: 0rem;
        // border-top: 0px;
        
      }
      h3 {
        font-family: 'Poppins-Medium';
        color: var(--unnamed-color-3c4760);
        font-size: 24px;
        margin-bottom: 24px;
        @include respond-to(lg) {
          margin-bottom: 12px;
        }
      }
      a {
        display: block;
        color: var(--unnamed-color-4c646f);
        // text-align: right;
        &:hover {
          color: var(--unnamed-color-4c646f);
        }
        @include respond-to(lg) {
          text-align: left;
          margin-bottom: 20px;
        }
      }
    }
    &_rightBox {
      // margin-bottom: 50px;
      // border-top: 1px solid var(--unnamed-color-f9fbfe);
      // border-bottom: 1px solid var(--unnamed-color-f9fbfe);
      // width: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5rem;
      @include respond-to(lg) {
        width: 20%;
        padding-right: 1rem;
      }
      @include respond-to(sm) {
        border: 0px;
      }
      a {
        display: block;
        color: var(--unnamed-color-4c646f);
        text-align: right;
        margin-bottom: 0px;
        &:hover {
          color: var(--unnamed-color-4c646f);
        }
        @include respond-to(sm) {
          text-align: left;
          margin-bottom: 12px;
        }
      }
    }
    &_speedometerBox {
      width: 50%;
      background-color: var(--unnamed-color-f8f9f9);
      border-left: 1px solid var(--unnamed-color-f8f9f9);
      border-right: 1px solid var(--unnamed-color-f8f9f9);
      padding-left: 1rem;
      p {
        color: var(--unnamed-color-4c646f);
      }
    }
    &_vaultdebtBox {
      width: 100%;
      background-color: var(--unnamed-color-f8f9f9);
      display: flex;
      align-items: center;
      justify-content: center;
      h4,
      p {
        color: var(--unnamed-color-4c646f);
      }
    }
  }
  &__bodyleft {
    margin-top: 0rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    @include respond-to(xxl) {
      padding-right: 4rem;
      
    }
    @include respond-to(lg) {
      padding-right: 1rem;
      padding-left: 1rem;
      
    }
  }
  &__bodyright {
    margin-bottom: 50px;
    margin-top: 2.5rem;
    border: 1px solid rgba(#214769, 0.2);
    border-radius: 25px;
    margin-right: 4rem;
    @include respond-to(xxl) {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    @include respond-to(lg) {
      margin-right: 2rem;
      margin-left: 2rem;
      
    }
    @include respond-to(sm) {
      border: 1px solid rgba(#214769, 0.2);
      border-radius: 25px;
    }
  }
}
