.vaulthistorytable {
  width: 100%;
  @include respond-to(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
  h4 {
    font-family: 'Poppins-Medium';
    letter-spacing: -0.36px;
    color: var(--unnamed-color-3c4760);
    opacity: 1;
  }
  &__table {
    border: 1px solid rgba(#4c646f, 0.2);
    border-radius: 16px;
    .table td,
    .table th {
      border-top: 0px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .table th {
      padding-bottom: 0.5rem;
      color: var(--unnamed-color-4c646f);
      font-weight: 400;
      font-size: 12px;
    }
    .activity {
      font-family: 'Poppins-SemiBold';
      font-size: 14px;
      color: var(--unnamed-color-3c4760);
    }
    .date {
      font-size: 14px;
      color: var(--unnamed-color-4c646f);
    }
    .tx_hash {
      font-size: 14px;
      color: var(--unnamed-color-4c646f);
    }
  }
}
