.vaultdashboard {
  margin-top: 1rem;
  &__header {
    display: flex;
    @include respond-to(sm) {
      display: block;
    }
    &_titleBox {
      border-top: 1px solid var(--unnamed-color-f9fbfe);
      border-bottom: 1px solid var(--unnamed-color-f9fbfe);
      // display: flex;
      padding: 3rem 5rem !important;
      width: 80%;
      @include respond-to(sm) {
        padding: 2rem 1rem !important;
        border-top: 0px;
        border-bottom: 0px;
        width: 100%;
      }
      h3 {
        font-family: 'Poppins-Medium';
        color: var(--unnamed-color-3c4760);
        font-size: 24px;
        margin-bottom: 24px;
        @include respond-to(sm) {
          margin-bottom: 12px;
        }
      }
      a {
        display: block;
        color: var(--unnamed-color-4c646f);
        text-align: right;
        &:hover {
          color: var(--unnamed-color-4c646f);
        }
        @include respond-to(sm) {
          text-align: left;
          margin-bottom: 12px;
        }
      }
    }
    &_rightBox {
      // margin-bottom: 50px;
      border-top: 1px solid var(--unnamed-color-f9fbfe);
      border-bottom: 1px solid var(--unnamed-color-f9fbfe);
      width: 20%;
      display: flex;
      @include respond-to(sm) {
        width: 100%;
      }
    }
    &_speedometerBox {
      width: 50%;
      background-color: var(--unnamed-color-f8f9f9);
      border-left: 1px solid var(--unnamed-color-f8f9f9);
      border-right: 1px solid var(--unnamed-color-f8f9f9);
      padding-left: 1rem;
      p {
        color: var(--unnamed-color-4c646f);
      }
    }
    &_vaultdebtBox {
      width: 100%;
      background-color: var(--unnamed-color-f8f9f9);
      display: flex;
      align-items: center;
      justify-content: center;
      h4,
      p {
        color: var(--unnamed-color-4c646f);
      }
    }
  }
  &__bodyleft {
    margin-top: 0rem;
    // padding-top: 2rem!important;
    padding-left: 3rem !important;
    // padding-left: 1rem !important;
    @include respond-to(sm) {
      padding: 2rem 0rem !important;
      .col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
  &__bodyright {
    margin-bottom: 50px;
    padding: 0px 0px !important;
    margin-top: 2rem;
    border: 1px solid rgba(#214769, 0.2);
    // border-right: 0px;
    // border-top-left-radius: 25px;
    // border-bottom-left-radius: 25px;
    border-radius: 25px;
    @include respond-to(sm) {
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid rgba(#214769, 0.2);
      border-radius: 25px;
    }
  }
}
