.vaultsetupcontainer {
    border: 1px solid rgba(var(--secondary-border), 0.2);
    border-radius: 1rem;
    padding: 0px !important;
    margin-top: 1.5rem;
    &-title {
        font-family: 'Poppins-Medium';
        font-size: 1.2rem;
        color: var(--unnamed-color-3c4760);
        margin-right: 0.5rem;
    }
    &-label {
        font-family: 'Poppins-Regular';
        font-size: 0.9rem;
        color: var(--unnamed-color-4c646f);
    }
    &-smallLabel {
        font-family: 'Poppins-Regular';
        font-size: 0.8rem;
        color: var(--unnamed-color-4c646f);
    }
    &-value {
        font-family: 'Poppins-SemiBold';
        font-size: 1rem;
        color: var(--unnamed-color-002332);
    }
    &-bottom {
        border-top: 1px solid rgba(var(--secondary-border), 0.2);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .setup {
        // margin-top: 16px;
        font-family: 'Poppins-Medium';
        font-size: 15px;
        padding: 0.9rem 0rem;
        width: 100%;
      }
}